@mixin position_top($top, $left) {
  	position: absolute;
    top: $top;
    left: $left;
}

/*login*/
.login{
	@include position_top(0px, 0px); 
	width: 100%;
	height: 100%;
	background:#590101;
}

.p_bg{
	position: absolute;
	bottom: 0;
	left: 0;
	img{
		width: 100%;
	}
}
.logo{
	@include position_top(48px, 42px); 
	z-index: 10;
}

.login_title{
	@include position_top(12%, 0px);  
	width: 100%;
	font-size: 48px;
	text-align: center;
	color:#fff;
}
.login_content{
	@include position_top(20%, 75px);
	height: 80%;
	overflow: hidden;
}
.login_lang{
	width: 600px;
	height: 180px;
	background: #4b0000;
	h3{
		font-size: 24px;
		color:#fff;
		text-align: center;
		padding-top: 25px;
	}
	.login_btn{
		width: 386px;
		margin: 0 auto;
		margin-top: 35px;
		overflow: hidden;
		.btn{
			width: 160px;
			height: 54px;
			color:#fff;
			font-size: 30px;
			background: #7c0202;
			text-align: center;
			line-height: 54px;
		}
		.btn.active{
			width: 164px;
			height: 48px;
			border: 3px solid #fff;
			background: #f79515;
			line-height: 48px;
		}
		.btn_china{
			float: left;
		}
		.btn_english{
			float: right;
		}
	}
}
.login_form{
	width: 600px;
	margin-top: 20px;
	height: 1200px;
	background: #4b0000;
	background: -webkit-linear-gradient(top, rgba(75,0,0,1)0%, rgba(75,0,0,0)100%);
	background: linear-gradient(top, rgba(75,0,0,1)0%, rgba(75,0,0,0)100%);
	#form{
		width: 528px;
		margin-left: 36px;
		padding-top: 40px;
		.form_list{
			margin-bottom:20px ;
		}
		label{
			color:#fff;
			font-size: 22px;
			line-height: 50px;
			padding-left: 3px;
		}
		.inputtype{
			width: 518px;
			height: 70px;
			border: none;
			border: 3px solid #7c0202;
			padding-left: 10px;
			font-size: 22px;
		}
		.form_submit{
			margin-top:55px ;
			text-align: center;
			#submit{
				border: none;
				background: none;
				width: 286px;
				height: 78px;
				background: #f79515;
				border: 3px solid #7c0202;
				border-radius: 78px;
				color:#fff;
				font-size: 32px;
				
			}
		}
		.login_footer{
			margin-top: 60px;
			text-align: center;
		}
	}
}

/*index*/
.content{
	@include position_top(0px, 0px); 
	width: 100%;
	height: 100%;
	background:#7d0101;
}
.index_title{
	@include position_top(15%, 47px);
}
.index_ul{
	@include position_top(43%, 45px);
	width: 660px;
	overflow: hidden;
	li{
		width: 33%;
		float: left;
		margin-bottom: 50px;
	}	
}

/* index1 */
.loading {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	display:block;
	background:#590101;
	z-index:9999;
}

.loading_canvas {
	position:absolute;
	width:420px;
	height:220px;
	left:45%;
	top:56%;
}
.text_loading {
	position:absolute;
	top:505px;
	left:120px;
}
.progress{
      width: 272px;
      height: 18px;
      background:none;
      padding: 1px;
      overflow: visible;
      position: absolute;
      top:58%;
      left:253px;
      background-color: #5d0101;
      border-radius: 18px;
      }
 .progress-bar{
  	border-radius: 18px;
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    background-color: #3f0d0d;
    -webkit-transition: width .6s ease;
    -o-transition: width .1s ease;
    transition: width .1s ease;
    position: relative;
    -webkit-animation: animate-positive 2s;
  }
  .progress-bar.active{
      animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive .5s;
  }
  @-webkit-keyframes animate-positive{
      0% { width: 0; }
  }
  @keyframes animate-positive{
      0% { width: 0; }
  }
.loading_pic{
	@include position_top(27%, 188px); 
}
.loading_bottom{
	position: absolute;
	left: 318px;
	bottom: 30px;
}
.alert{
	@include position_top(0, 0); 
	width: 100%;
	height: 100%;
	z-index:10;
	.alert_bg{
		@include position_top(0, 0); 
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
		
	}
	.alert_img{
		@include position_top(50%, 100px);
		margin-top: -400px; 
	}
	.alert_content{
		@include position_top(50%, 165px);
		width: 420px;
		margin-top: -340px;
		 
		h1{
			font-size: 53px;
			color:#9a2b2b;
			font-weight: bold;
			text-align: center;
		}
		.alert_msg{
			margin-top: 50px;
			color:#a3a1a1;
			font-size: 22px;
			line-height: 41px;
			height: 540px;
			overflow-y: scroll;
		}
		
	}
	.alert_button{
		@include position_top(50%, 240px);
		margin-top: 420px;
		font-size: 30px;
		font-weight: bold;
		width: 270px;
		height: 85px;
		background: #aa0303;
		color:#fff;
		text-align: center;
		line-height: 85px;
		border-radius: 15px;
		}
}

/* index2 */
.swiper-container {
  width: 100%;
  height: 100%; 
  background: #ffffff;
  }

.swiper-slide {
  position: relative;
  text-align: center;
  height: 475px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; 
  
  }
  .slide_img{   
      position: absolute;
      left: 0;
      top:0; 
      width: 100%;
     
      img{
          width: 100%;
          height: auto;
          display: block; 
      }
  }
 .slide_zan{
    position: absolute;
    bottom: 28px;
    left: 28px;
    width: 84px;
    height: 84px;  
    background:#000000 ;
    border-radius: 50%;
    text-align: center;
    .slide_icon{
        margin-top: 8px;
    }
    .slide_num{
        color:#bf3a3a;
        font-size: 24px; 
    }
 }
 .vote_button{
     position: absolute;
     background: none;
     border: none;
     bottom: 38px;
     right: 22px;
     width: 165px;
     height: 65px;
     background: #bf3a3a;
     font-size: 24px;
     color:#ffffff;
     line-height: 60px;
     box-shadow:5px 9px  #373737;
 }
 .vote_rule{
   @include position_top(535px, 42px);
    .rule_msg{
        float: left;
        font-size: 22px;
        color:#ffffff;  
    }
    .rule_icon{
        float: left;
        margin-left: 10px;
    }
 }
 .vote_list{
       @include position_top(630px, 74px);
       li{
           margin-bottom: 22px;
       }
     .bar_1{
          width: 606px;
          height: 100px;
          background:none;
          overflow: visible;
          background-color: #aa0303;
          border-radius: 18px;
          border: 5px solid #3f0d0d;
          .progress-bar{
              border-radius: 12px 0 0 12px;
          }
          .bar_msg{
              position: absolute;
              color:#ffffff;              
              font-size: 24px;
              line-height: 100px;
              left: 36px;
              font-weight: bold;
          }
         .bar_num{
             position: absolute;
              color:#ffffff;              
              font-size: 24px;
              line-height: 100px;
              right: 36px;
              font-weight: bold;
         }   
     }
      
 }
 #alert1{
    display: none;
    animation: zoomIn 1s;
    -webkit-animation: zoomIn 1s;
}
/* index3 */
.cloud_bg{
   @include position_top(0, 0);
   z-index: 9;
}
.cloud_main{
    @include position_top(50px, 78px); 
     width: 594px;
     text-align: center;
    .main_bottom{
        height: 16px;
        background: -webkit-linear-gradient(top, rgba(90,1,1,1)0%, rgba(90,2,2,0.5)100%);
        background: linear-gradient(top, rgba(90,1,1,0.9)0%, rgba(90,2,2,0.5)100%);
        
    }
    .title{
       width: 455px; 
       height: 115px;
       margin: 0 auto;
       background: url(../img/t_k.png) no-repeat center center;
       font-size: 40px;
       color:#ffffff;
       line-height: 115px;
       text-align: center;
    }
}
.cloud_content{
    background: -webkit-linear-gradient(top, rgba(90,1,1,1)0%, rgba(90,2,2,0.3)100%);
    background: linear-gradient(top, rgba(90,1,1,0.9)0%, rgba(90,2,2,0.3)100%);
    padding-top:118px;
    padding-bottom: 20px;
    
    ul{
        width: 536px;
        margin: 0 auto;
        margin-top: 50px;
        li{
           padding: 36px 0 30px 0; 
           border-bottom: 2px dashed #b04601;
           overflow: hidden;
           .cloud_li_left{
             float: left;
             width: 110px;
            margin-right: 10px;
             background: -webkit-radial-gradient(rgba(226,1,1,1)0%, rgba(226,2,2,0.1)50%,rgba(226,2,2,0)90%); 
           } 
           .cloud_li_right{
               float: left;
               width: 415px;
               
           } 
        }
        li:last-child{
            border-bottom: none;
        }
        
    }
}
.cloud_content  .cloud_li_right ul{
     overflow: hidden; width: 415px;
     margin: 0;
     li{
         float: left;
         margin-left: 8px;
         border: none;
         padding: 10px 18px ;
         color:#ffffff;
         font-size: 20px;
         background: #4e0000;
         border-radius: 20px;
         margin-bottom: 8px;
     }
     
 }
 .cloud_button{    
     margin-top: 10px;
     width:270px ;
     height: 84px;
     color:#ffffff;
     border: none;
     font-weight: bold;
     background: #e58d1b;
     border-radius: 20px;
     font-size: 24px;
     
 }
/* index4 */
.key_top{
     @include position_top(0, 0);
}
.key_bottom{
     position: absolute;
     bottom:150px;
     left: 0;
}
.key_word{
    padding-top:118px;
    padding-bottom: 20px;
    .title{
       width: 455px; 
       height: 115px;
       margin: 0 auto;
       background: url(../img/t_k.png) no-repeat center center;
       font-size: 40px;
       color:#ffffff;
       line-height: 115px;
       text-align: center;
    }
}
.keyW_main{
    @include position_top(50px, 78px); 
     width: 620px;
     text-align: center;
     ul{
         overflow: hidden;
         margin-top: 50px;
         li{
             height: 75px;
             overflow: hidden;
             
         }
     }
    .key_li_left{
        float: left;
        width: 144px;
        color:#ffffff;
        font-size: 20px;
        text-align: center; 
        margin-right: 20px;
    }
    .key_li_center{
        float: left;
        width: 390px;
        margin-right: 28px;
        margin-top: 2px;
        .key_bar{
              width: 390px;
              height: 18px;
              background:none;
              overflow: visible;
              background-color: #5d0101;
              border-radius: 18px;
              border: none;
              .progress-bar{
                  border-radius: 18px 0 0 18px;
                  background-color: #eab410;
              } 
        }
    }
    .key_li_right{
        float: left;
        width: 35px;
        color:#ffffff;
        font-size: 20px; 
        text-align: left;
    }
}
.keyW_menu{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 275px;
    background: -webkit-linear-gradient(rgba(90,1,1,1)0%, rgba(90,2,2,0.4)100%); 
      
}
.menu_list{
    width: 668px;
    height: 145px;
    margin: 0 auto;
    ul{
       
        height: 137px;
        li{
            float: left;
            width: 25%;
            height: 100%;
            text-align: center;
            padding-top: 7px;
            
            .menu_li_text{
                font-size: 18px;
                color:#ffffff;
                font-weight: bold;
                margin-top: 5px;
            }
        
        }
        li.active{
             background: -webkit-radial-gradient(rgba(226,1,1,1)0%, rgba(226,2,2,0.1)50%,rgba(226,2,2,0)90%); 
             border-bottom: 6px solid #eab410;
         }
    }
}
.menu_bottom{
    width: 100%;
    height: 16px;
    background: -webkit-linear-gradient(rgba(90,1,1,1)0%, rgba(90,2,2,0.2)100%); 
}
