/*login*/
.login {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #590101; }

.p_bg {
  position: absolute;
  bottom: 0;
  left: 0; }
  .p_bg img {
    width: 100%; }

.logo {
  position: absolute;
  top: 48px;
  left: 42px;
  z-index: 10; }

.login_title {
  position: absolute;
  top: 12%;
  left: 0px;
  width: 100%;
  font-size: 48px;
  text-align: center;
  color: #fff; }

.login_content {
  position: absolute;
  top: 20%;
  left: 75px;
  height: 80%;
  overflow: hidden; }

.login_lang {
  width: 600px;
  height: 180px;
  background: #4b0000; }
  .login_lang h3 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 25px; }
  .login_lang .login_btn {
    width: 386px;
    margin: 0 auto;
    margin-top: 35px;
    overflow: hidden; }
    .login_lang .login_btn .btn {
      width: 160px;
      height: 54px;
      color: #fff;
      font-size: 30px;
      background: #7c0202;
      text-align: center;
      line-height: 54px; }
    .login_lang .login_btn .btn.active {
      width: 164px;
      height: 48px;
      border: 3px solid #fff;
      background: #f79515;
      line-height: 48px; }
    .login_lang .login_btn .btn_china {
      float: left; }
    .login_lang .login_btn .btn_english {
      float: right; }

.login_form {
  width: 600px;
  margin-top: 20px;
  height: 1200px;
  background: #4b0000;
  background: -webkit-linear-gradient(top, #4b0000 0%, rgba(75, 0, 0, 0) 100%);
  background: linear-gradient(top, #4b0000 0%, rgba(75, 0, 0, 0) 100%); }
  .login_form #form {
    width: 528px;
    margin-left: 36px;
    padding-top: 40px; }
    .login_form #form .form_list {
      margin-bottom: 20px; }
    .login_form #form label {
      color: #fff;
      font-size: 22px;
      line-height: 50px;
      padding-left: 3px; }
    .login_form #form .inputtype {
      width: 518px;
      height: 70px;
      border: none;
      border: 3px solid #7c0202;
      padding-left: 10px;
      font-size: 22px; }
    .login_form #form .form_submit {
      margin-top: 55px;
      text-align: center; }
      .login_form #form .form_submit #submit {
        border: none;
        background: none;
        width: 286px;
        height: 78px;
        background: #f79515;
        border: 3px solid #7c0202;
        border-radius: 78px;
        color: #fff;
        font-size: 32px; }
    .login_form #form .login_footer {
      margin-top: 60px;
      text-align: center; }

/*index*/
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #7d0101; }

.index_title {
  position: absolute;
  top: 15%;
  left: 47px; }

.index_ul {
  position: absolute;
  top: 43%;
  left: 45px;
  width: 660px;
  overflow: hidden; }
  .index_ul li {
    width: 33%;
    float: left;
    margin-bottom: 50px; }

/* index1 */
.loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #590101;
  z-index: 9999; }

.loading_canvas {
  position: absolute;
  width: 420px;
  height: 220px;
  left: 45%;
  top: 56%; }

.text_loading {
  position: absolute;
  top: 505px;
  left: 120px; }

.progress {
  width: 272px;
  height: 18px;
  background: none;
  padding: 1px;
  overflow: visible;
  position: absolute;
  top: 58%;
  left: 253px;
  background-color: #5d0101;
  border-radius: 18px; }

.progress-bar {
  border-radius: 18px;
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  background-color: #3f0d0d;
  -webkit-transition: width .6s ease;
  -o-transition: width .1s ease;
  transition: width .1s ease;
  position: relative;
  -webkit-animation: animate-positive 2s; }

.progress-bar.active {
  animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive .5s; }

@-webkit-keyframes animate-positive {
  0% {
    width: 0; } }
@keyframes animate-positive {
  0% {
    width: 0; } }
.loading_pic {
  position: absolute;
  top: 27%;
  left: 188px; }

.loading_bottom {
  position: absolute;
  left: 318px;
  bottom: 30px; }

.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .alert .alert_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }
  .alert .alert_img {
    position: absolute;
    top: 50%;
    left: 100px;
    margin-top: -400px; }
  .alert .alert_content {
    position: absolute;
    top: 50%;
    left: 165px;
    width: 420px;
    margin-top: -340px; }
    .alert .alert_content h1 {
      font-size: 53px;
      color: #9a2b2b;
      font-weight: bold;
      text-align: center; }
    .alert .alert_content .alert_msg {
      margin-top: 50px;
      color: #a3a1a1;
      font-size: 22px;
      line-height: 41px;
      height: 540px;
      overflow-y: scroll; }
  .alert .alert_button {
    position: absolute;
    top: 50%;
    left: 240px;
    margin-top: 420px;
    font-size: 30px;
    font-weight: bold;
    width: 270px;
    height: 85px;
    background: #aa0303;
    color: #fff;
    text-align: center;
    line-height: 85px;
    border-radius: 15px; }

/* index2 */
.swiper-container {
  width: 100%;
  height: 100%;
  background: #ffffff; }

.swiper-slide {
  position: relative;
  text-align: center;
  height: 475px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.slide_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  .slide_img img {
    width: 100%;
    height: auto;
    display: block; }

.slide_zan {
  position: absolute;
  bottom: 28px;
  left: 28px;
  width: 84px;
  height: 84px;
  background: #000000;
  border-radius: 50%;
  text-align: center; }
  .slide_zan .slide_icon {
    margin-top: 8px; }
  .slide_zan .slide_num {
    color: #bf3a3a;
    font-size: 24px; }

.vote_button {
  position: absolute;
  background: none;
  border: none;
  bottom: 38px;
  right: 22px;
  width: 165px;
  height: 65px;
  background: #bf3a3a;
  font-size: 24px;
  color: #ffffff;
  line-height: 60px;
  box-shadow: 5px 9px  #373737; }

.vote_rule {
  position: absolute;
  top: 535px;
  left: 42px; }
  .vote_rule .rule_msg {
    float: left;
    font-size: 22px;
    color: #ffffff; }
  .vote_rule .rule_icon {
    float: left;
    margin-left: 10px; }

.vote_list {
  position: absolute;
  top: 630px;
  left: 74px; }
  .vote_list li {
    margin-bottom: 22px; }
  .vote_list .bar_1 {
    width: 606px;
    height: 100px;
    background: none;
    overflow: visible;
    background-color: #aa0303;
    border-radius: 18px;
    border: 5px solid #3f0d0d; }
    .vote_list .bar_1 .progress-bar {
      border-radius: 12px 0 0 12px; }
    .vote_list .bar_1 .bar_msg {
      position: absolute;
      color: #ffffff;
      font-size: 24px;
      line-height: 100px;
      left: 36px;
      font-weight: bold; }
    .vote_list .bar_1 .bar_num {
      position: absolute;
      color: #ffffff;
      font-size: 24px;
      line-height: 100px;
      right: 36px;
      font-weight: bold; }

#alert1 {
  display: none;
  animation: zoomIn 1s;
  -webkit-animation: zoomIn 1s; }

/* index3 */
.cloud_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9; }

.cloud_main {
  position: absolute;
  top: 50px;
  left: 78px;
  width: 594px;
  text-align: center; }
  .cloud_main .main_bottom {
    height: 16px;
    background: -webkit-linear-gradient(top, #5a0101 0%, rgba(90, 2, 2, 0.5) 100%);
    background: linear-gradient(top, rgba(90, 1, 1, 0.9) 0%, rgba(90, 2, 2, 0.5) 100%); }
  .cloud_main .title {
    width: 455px;
    height: 115px;
    margin: 0 auto;
    background: url(../img/t_k.png) no-repeat center center;
    font-size: 40px;
    color: #ffffff;
    line-height: 115px;
    text-align: center; }

.cloud_content {
  background: -webkit-linear-gradient(top, #5a0101 0%, rgba(90, 2, 2, 0.3) 100%);
  background: linear-gradient(top, rgba(90, 1, 1, 0.9) 0%, rgba(90, 2, 2, 0.3) 100%);
  padding-top: 118px;
  padding-bottom: 20px; }
  .cloud_content ul {
    width: 536px;
    margin: 0 auto;
    margin-top: 50px; }
    .cloud_content ul li {
      padding: 36px 0 30px 0;
      border-bottom: 2px dashed #b04601;
      overflow: hidden; }
      .cloud_content ul li .cloud_li_left {
        float: left;
        width: 110px;
        margin-right: 10px;
        background: -webkit-radial-gradient(#e20101 0%, rgba(226, 2, 2, 0.1) 50%, rgba(226, 2, 2, 0) 90%); }
      .cloud_content ul li .cloud_li_right {
        float: left;
        width: 415px; }
    .cloud_content ul li:last-child {
      border-bottom: none; }

.cloud_content .cloud_li_right ul {
  overflow: hidden;
  width: 415px;
  margin: 0; }
  .cloud_content .cloud_li_right ul li {
    float: left;
    margin-left: 8px;
    border: none;
    padding: 10px 18px;
    color: #ffffff;
    font-size: 20px;
    background: #4e0000;
    border-radius: 20px;
    margin-bottom: 8px; }

.cloud_button {
  margin-top: 10px;
  width: 270px;
  height: 84px;
  color: #ffffff;
  border: none;
  font-weight: bold;
  background: #e58d1b;
  border-radius: 20px;
  font-size: 24px; }

/* index4 */
.key_top {
  position: absolute;
  top: 0;
  left: 0; }

.key_bottom {
  position: absolute;
  bottom: 150px;
  left: 0; }

.key_word {
  padding-top: 118px;
  padding-bottom: 20px; }
  .key_word .title {
    width: 455px;
    height: 115px;
    margin: 0 auto;
    background: url(../img/t_k.png) no-repeat center center;
    font-size: 40px;
    color: #ffffff;
    line-height: 115px;
    text-align: center; }

.keyW_main {
  position: absolute;
  top: 50px;
  left: 78px;
  width: 620px;
  text-align: center; }
  .keyW_main ul {
    overflow: hidden;
    margin-top: 50px; }
    .keyW_main ul li {
      height: 75px;
      overflow: hidden; }
  .keyW_main .key_li_left {
    float: left;
    width: 144px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-right: 20px; }
  .keyW_main .key_li_center {
    float: left;
    width: 390px;
    margin-right: 28px;
    margin-top: 2px; }
    .keyW_main .key_li_center .key_bar {
      width: 390px;
      height: 18px;
      background: none;
      overflow: visible;
      background-color: #5d0101;
      border-radius: 18px;
      border: none; }
      .keyW_main .key_li_center .key_bar .progress-bar {
        border-radius: 18px 0 0 18px;
        background-color: #eab410; }
  .keyW_main .key_li_right {
    float: left;
    width: 35px;
    color: #ffffff;
    font-size: 20px;
    text-align: left; }

.keyW_menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 275px;
  background: -webkit-linear-gradient(#5a0101 0%, rgba(90, 2, 2, 0.4) 100%); }

.menu_list {
  width: 668px;
  height: 145px;
  margin: 0 auto; }
  .menu_list ul {
    height: 137px; }
    .menu_list ul li {
      float: left;
      width: 25%;
      height: 100%;
      text-align: center;
      padding-top: 7px; }
      .menu_list ul li .menu_li_text {
        font-size: 18px;
        color: #ffffff;
        font-weight: bold;
        margin-top: 5px; }
    .menu_list ul li.active {
      background: -webkit-radial-gradient(#e20101 0%, rgba(226, 2, 2, 0.1) 50%, rgba(226, 2, 2, 0) 90%);
      border-bottom: 6px solid #eab410; }

.menu_bottom {
  width: 100%;
  height: 16px;
  background: -webkit-linear-gradient(#5a0101 0%, rgba(90, 2, 2, 0.2) 100%); }

/*# sourceMappingURL=style.css.map */
